Description=cadvisor
After=docker.service 
Requires=docker.service
 
[Service]
TimeoutStartSec=300
RestartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop -t 2 cadvisor
ExecStartPre=-/usr/bin/docker rm -f cadvisor
ExecStartPre=/usr/bin/docker pull google/cadvisor
ExecStart=/usr/bin/docker run --rm --volume=/:/rootfs:ro \
                                   --volume=/var/run:/var/run:rw \
                                   --volume=/sys:/sys:ro \
                                   --volume=/var/lib/docker/:/var/lib/docker:ro \
                                   --volume=/dev/disk/:/dev/disk:ro \
                                   --publish=8080:8080 \
                                   --name=cadvisor \
                                   --privileged=true \
                                   --uri_base_prefix="/cadvisor" \
                                   google/cadvisor:latest

ExecStop=-/usr/bin/docker stop -t 2 cadvisor
ExecStopPost=-/usr/bin/docker rm -f cadvisor
 
[Install]
WantedBy=multi-user.target
