Description=Home Assistant Service
After=docker.service mqtt.service
Requires=docker.service mqtt.service network.target
 
[Service]
RestartSec=3
TimeoutStartSec=300
Restart=always
ExecStartPre=-/usr/bin/docker stop -t 2 home-assistant
ExecStartPre=-/usr/bin/docker rm -f home-assistant
ExecStartPre=/usr/bin/docker pull homeassistant/home-assistant
ExecStart=/usr/bin/docker run --name="home-assistant" \
                              -v /home/homeassistant/config:/config \
                              -v /etc/localtime:/etc/localtime:ro \
                              -v /home/homeassistant/dehydrated/certs/tedsluis.duckdns.org:/ssl \
                              --net=host \
                              homeassistant/home-assistant
ExecStop=-/usr/bin/docker stop -t 2 home-assistant
ExecStopPost=-/usr/bin/docker rm -f home-assistant
 
[Install]
WantedBy=multi-user.target
